## CMake
CMakeCache.txt
CMakeFiles/
Makefile
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
Testing/Temporary
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages
/CMakeSettings.json
